<div class="about container m-auto pt-5">
  <img src="/assets/images/about.jpg" alt="About Us" />
  <div class="ml-5">
    <h4>Quem somos nós?</h4>
    <p>
      Somos um site de treinos online, pensado inicialmente nas necessidades de exercícios físicos
      na quarentena.
    </p>
    <p>
      Com o site é possível ter exercícios desenvolvidos pelos professores especialmente para serem
      feitos em sua casa, com maos praticidade e flexibilidade de horários.
    </p>
    <p>
      Além disso, criamos um ambiente propício para o acompanhamento da sua evolução nos treinos e
      avaliações dos planos, possibilitando assim um melhor planejamento de treino.
    </p>
  </div>
</div>
