<div class="container">
  <div class="text-center p-3">
    <h1>Controle Quarentreino</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover" id="usersTable">
        <!-- <thead>
          <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Nascimento</td>
            <td>Telefone</td>
            <td>Tipo</td>
            <td>Criação</td>
          </tr>
        </thead>
        <tbody>
          <%# locals.users.forEach((user) => { %>
          <tr data-userId="<%#= user._id %>">
            <td><%# user.getName() %></td>
            <td><%#= user.email %></td>
            <td><%#= moment(user.nascimento).format('DD/MM/YYYY') %></td>
            <td><%#= user.telefone %></td>
            <td><%#- locals.getTipoLabel(user.tipo) %></td>
            <td><%#= moment(user.created).format('DD/MM/YYYY hh:mmA') %></td>
          </tr>
          <%# }); %>
        </tbody> -->
      </table>
    </div>
  </div>
</div>
