<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>QUARENTREINO</title>
  </head>

  <body>
    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img src="/images/logo_google_cloud.png" />
          </div>
        </div>
      </main>
    </header>
    <main class="menu-url">
      <div class="header-2">
        <div class="menu">
          <ul>
            <li>
              <a href="/"><b>HOME</b></a>
            </li>
            <li><a href="/about">QUEM SOMOS</a></li>
          </ul>
        </div>
        <div class="menu-2">
          <ul>
            <li><a href="#">ÁREA DO ALUNO</a></li>
            <li><a href="#">ÁREA DO PROFESSOR</a></li>
            <li><a href="#">CADASTRE-SE</a></li>
            <li><a href="#">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </main>
    <div>
      <div class="texto-home">
        <h1>BEM VINDO AO <b>QUARENTREINO</b></h1>
        <p>Seu site de treinos online.</p>
        <p>Seu site de treinos online.</p>
        <p>Seu site de treinos online.</p>
      </div>
    </div>
  </body>
</html>
