<section class="main-container">
  <div class="texto-home">
    <h1>BEM-VINDO AO <b>QUARENTREINO</b></h1>
    <p class="paragraph-home">Seu site de treinos online!</p>
  </div>
</section>

<section class="features-container">
  <h2 class="features-container-title">Por aqui você consegue</h2>
  <ul class="features-list">
    <li class="feature-item">
      <span class="feature-icon">
        <svg
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          class="bi bi-card-heading"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
          />
          <path
            fill-rule="evenodd"
            d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
          />
          <path
            d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"
          />
        </svg>
      </span>
      <span class="feature-icon-text">Receber um treino</span>
    </li>
    <li class="feature-item">
      <span class="feature-icon">
        <svg
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          class="bi bi-cloud-check-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
          />
        </svg>
      </span>
      <span class="feature-icon-text">Salvar um exercício</span>
    </li>
    <li class="feature-item">
      <span class="feature-icon">
        <svg
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          class="bi bi-graph-up"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </span>
      <span class="feature-icon-text">Acompanhar seu desempenho</span>
    </li>
  </ul>
  <div class="features-button">
    <a href="/about">Saiba mais</a>
  </div>
</section>

<section class="login-container">
  <div class="login-wrapper">
    <p>Entre agora e escolha um professor para começar seu plano de treino.</p>
    <div><a href="/auth">Faça login</a> ou <a href="/auth/signup">cadastre-se</a></div>
  </div>
</section>
