<!DOCTYPE html>
<html lang="en">
  <head>
    <% include shared/_header %>
  </head>
  <body>
    <% include shared/_navbar %> 
   
    <% locals.messages && locals.messages.forEach(message => { %>
      <% include shared/_message %>
    <% }) %>

    <%- include(locals.page || 'index') %>
    
    <% include shared/_scripts %>
  </body>
</html>