<!DOCTYPE html>
<html lang="en">
  <head>
    <% include shared/_header %>
  </head>
  <body>
    <% include shared/_navbar %> 
    
    <%- include(locals.page || 'index') %>
    
    <% include shared/_scripts %>
  </body>
</html>