<div class="container">
  <div class="text-center p-3">
    <h1>Bem vindo(a), professor <%= locals.user.nome %>!</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active"> <input type="radio" name="options" id="treinos" checked />Treinos</label>
        <label class="btn btn-success"> <input type="radio" name="options" id="alunos" />Alunos</label>
      </div>
    </div>
    <div class="col-12" id="treinosRow">
      <table class="table table-striped table-hover" id="treinosTable"></table>
    </div>
    <div class="col-12" id="alunosRow">
      <table class="table table-striped table-hover" id="alunosTable"></table>
    </div>
  </div>
</div>
