:root {
  /* --background: #F3EFF5; */
  /* --background: #F7F0F0; */
  --background: #FBFCFF;
  --primary-hover: #0d63bf;
}

.menu-principal {
  width: 100%;
  background-color: #fcb822;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

.header-1 {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 100%;
  width: auto;
}

.menu {
  background-color: #242117;
  display: flex;
  height: 54px;
}

.menu .menu-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .menu-list li a {
  height: 100%;
  padding: 0 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu .menu-list li a:hover {
  transition: 0.25s ease-in-out;
  background-color: #fcb822;
  color: black;
  font-weight: 600;
}

.menu .menu-list li a.active {
  color: #fcb822;
}

.menu .menu-list li a.active:hover {
  color: black;
}

.main-container {
  min-height: calc(100vh - 114px);
  background-color: black;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5)), url('/assets/images/mulher-exercicio.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto-home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.paragraph-home {
  font-size: 26px;
}

.features-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.features-container-title {
  text-align: center;
  margin: 40px 0 60px;
}

.features-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.features-button {
  display: flex;
  justify-content: center;
  margin: 40px 0 60px;
}

.features-button a {
  transition: background-color 0.3s ease-out;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 600;
}

.features-button a:hover {
  transition: background-color 0.3s ease-in;
  background-color: var(--primary-hover);
}

.feature-item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-icon-text {
  font-size: 22px;
  margin-top: 8px;
  text-align: center;
}

.login-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #242117;
  color: white;
}

.login-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 24px 0 36px;
}

.login-wrapper a {
  color: var(--primary);
  text-decoration: none;
}

form {
  width: 720px;
  margin: 0 auto;
}

body {
  background-color: var(--background);
}

.about {
  display: flex;
}