body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}
ul{
    padding: 0 auto!important;
}

.menu-principal{
    background-color: #ffbd13;
    width: 100%;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float: left;
    padding: 10px;
    width: 75%;
}

.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;

}
.menu ul li{
    display: inline-block;
    color: black;
    margin-left: 15px;
}
.menu ul li a:hover{
    color:#ffbd13;
}

.menu-2 ul li{
    display: inline-block;
    color: black;
    margin-right: 35px;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font: 14px;
}

.menu-2 ul li a:hover{
    color: #ffbd13;
}

.menu-2 ul li a{
    color: black;
    text-decoration: none;
    font: 14px;
}

.menu{
    width: 30%;
    float: left;
}

.menu-2{
    width: 30%;
    float: right;
}

.menu-url{
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 3px solid #ffbd13;
    height: 50px;
    background-color: white;
}

.texto-home{    
    text-align: center;
    width: 100%;
    position: relative;
    width: 100%;
    float: left;

}

.cadastro{
    color: white;
    text-align: center;
    width: 100%;
    float: left;
    position: relative;

}

fieldset {
    color: white;
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
}

